/* EN ESTA PARTE DE MEDIDAS EXISTEN VARIAS, LA PRIMERA DE ELLAS SON LOS CM QUE GENERALMENTE SE UTILIZAN CUANDO LO QUE ESTOY PROGRAMANDO SE VA A IMPRIMIR O ALGO ASI PERO ESTA NO ES MUY UTILIZADA, LUEGO TENEMOS LAS MEDICIONES CON PORCENTAJES, QUE ESTA ES BASICAMENTE AGREGARLE UN FONT-SIZE A UN ELEMENTO PADRE Y YA LUEGO TODOS LOS ELEMENTOS QUE ESTEN RELACIONADOS A ESTE YO LES PUEDO ASIGNAR UN FONT-SIZE MEDIANTE PORCENTAJE, EL CUAL SE ESTARA DIVIENDO EN LA CANTIDAD DE PIXELES DE SU ELEMENTO PADRE. */

/* LUEGO TENEMOS DOS OTRAS MEDIDAS QUE ENTRAN QUE SON LOS EM Y LOS REM, BASICAMENTE EL EM ES LA MEJOR FORMA DE DEFINIR COSAS, EL EM VA A VALER LO MISMO QUE EL FONT-SIZES DEL ELEMENTO PADRE. POR OTRA EL REM BASICAMENTE LO QUE HACE ES LO MISMO QUE EL EM SOLO QUE EN VEZ DE IR A BUSCAR EL ELEMENTO PADRE VA A BUSCAR EL ELEMENTO RAIZ QUE ES "HTML".*/

html {
    font-size: 20px; /* AQUI ES DONDE SACARA EL RESULTADO REM EN CASO TAL LO UTILICEMOS. */
}

div {
    background: #ededed;
    padding: 20px;
    font-family: sans-serif;
    border-left: 5px solid #999;
    font-size: 20px;
    margin: 0;
    height: 100vh; /* CON EL VH LO QUE ESTAMOS HACIENDO ES DEFINIENDOLE UN TAMANO A LA HOJA DEL 50% O 100% DE LA HOJA, ES EL VIUPOR DISPONIBLE.*/
    width: 100vh; /* IGUAL CON EL ANCHO DISPONIBLE QUE TENEMOS EN LA VISTA. */
    text-align: center;
    box-sizing: border-box;
    margin: auto;
}

h1 {
    margin: 0;
    font-size: 23px;
}

span {
    color: #999;
    font-size: 16px;
    font-weight: 100;
}

p {
    color: #555;
    font-size: 1em; /* UN EM EQUIVALE A 20PX QUE CONTIENE EL ELEMENTO PADRE Y SI LE PONGO 2EM PUES SERIA EL DOBLE DEL EQUIVALENTE DEL ELEMENTO PADRE.*/
    text-align: justify;
}