/* PARA LA PARTE DE LAS SOMBRAS ENCONTRAMOS 3 CONCEPTOS O COMANDOS IMPORTANTES BASTANTE UTILIZADOS QUE SON LOS: BOX SHADOW(ES PARA AGREGARLE SOMBRA A UNA CAJA), TEXT SHADOW(ES LA SOMBRA QUE LE AGREGAMOS AL TEXTO), DROP SHADOW(QUE ES CUANDO QUEREMOS AGREGARLE SOMBRA A CUALQUIER OTRO COMPONENTE).*/

body {
    margin: 0;
}

.box {
    background: grey;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 20px 20px 50px 10px black; /* EN ESTE CASO LE ESTAMOS DANDO UNA SOMBRA A ESTA CAJA QUE TENEMOS, EL PARAMETRO ES CUANTOS PIXELES QUIERO QUE CORRA HACIA LA DERECHA, EL SEGUNDO ES CUANTO SE CORRE HACIA ABAJO OSEA DE FORMA VERTIFICAL, DESPUES CUANTO QUIERO YO QUE SEA EL DESENFOQUE O DIFUMINADO, DESPUES CUANTO QUIERO QUE SE EXPANDA, LUEGO EL COLOR.*/
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

p {
    font-family: sans-serif;
    text-align: center;
}